body {
  height: 100%;
  position: relative;
  background: #f4f4f4 url("../images/bg.png");
  font-family: 'Armata', Tahoma;
  font-size: 11px;
  color: #494949;
}

.top {
  width: 100%;
  height: 5px;
  background: url("../images/top.png") top center no-repeat;
}

h1 {
  font-size: 44px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

h1 span {
  color: #ffd300;
}

h2 {
  font-size: 18px;
  color: #fac800;
}

a {
  color: #4499c1;
  text-decoration: none;
}

a:hover {
  color: #0184c1;
}

a.dark {
  color: #504446;
}

a.dark:hover {
  color: #000;
}

.bigger {
  font-size: 14px;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 700px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 460px;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 300px;
  }
}

header {
  padding: 43px 10px 10px;
}

.header-left {
  width: 25%;
  float: left;
}

.header-right {
  width: 75%;
  float: right;
}

@media only screen and (max-width: 1000px) {
  .header-left {
    width: 35%;
  }
  .header-right {
    width: 65%;
  }
}

@media only screen and (max-width: 768px) {
  .header-left {
    width: 50%;
  }
  .header-right {
    width: 50%;
    text-align: right;
  }
}

.logo {
  text-indent: -30000px;
  background: url("../images/logo.png") no-repeat;
  width: 143px;
  height: 111px;
  display: block;
}

@media only screen and (max-width: 480px) {
  .header-right, .header-left {
    float: none;
    width: 100%;
    text-align: center;
  }
  .header-left {
    margin-bottom: 20px;
  }
  .logo {
    margin: 0 auto;
  }
}

.header-subtitle {
  margin-top: -5px;
}

.header-col-1 {
  width: 253px;
  float: left;
}

.header-col-2 {
  width: 150px;
  float: left;
}

.header-col-3 {
  width: 258px;
  float: right;
}

@media only screen and (max-width: 1000px) {
  .header-col-3 {
    width: 192px;
  }
}

@media only screen and (max-width: 768px) {
  .header-col-1, .header-col-2, .header-col-3 {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
}

.header-col-3 .counter:last-child {
  float: right;
}

.social-icon {
  display: inline-block;
  margin-right: 4px;
  width: 33px;
  height: 33px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-top: 45px;
  text-indent: -30000px;
}

.social-icon.github {
  background-image: url("../images/icons/github.png");
}

.social-icon.facebook {
  background-image: url("../images/icons/facebook.png");
}

.social-icon.twitter {
  background-image: url("../images/icons/twitter.png");
}

.social-icon.vimeo {
  background-image: url("../images/icons/vimeo.png");
}

.social-icon.flickr {
  background-image: url("../images/icons/flickr.png");
}

.social-icon:hover {
  background-position: 0 -38px;
}

.counter {
  border: 2px solid #ffd300;
  text-align: center;
  border-radius: 50%;
  width: 119px;
  height: 90px;
  padding-top: 29px;
  float: left;
}

.counter span {
  font-size: 44px;
  display: block;
  line-height: 44px;
}

@media only screen and (max-width: 1000px) {
  .counter {
    width: 89px;
    height: 75px;
    padding-top: 14px;
  }
  .counter span {
    font-size: 39px;
    line-height: 39px;
  }
}

@media only screen and (max-width: 768px) {
  .counter {
    float: right;
    margin: 10px 0 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .header-col-3 .counter, .header-col-3 .counter:last-child {
    float: none;
    display: inline-block;
    margin: 0;
  }
}

.content {
  padding: 28px 0 30px;
}


.product {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 433px 9px;
  border: 1px solid #c5c5c5;
  display: block;
  color: #494949;
  transition: all .25s ease;
  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  min-height: 48px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-info {
  display: table;
  width: 100%;
  min-height: 94px;
}

.product-left {
  display: table-cell;
  text-align: center;
  padding: 25px;
  width: 125px;
  border-right: 1px solid #cfcfcf;
  vertical-align: middle;
}

.product-right {
  display: table-cell;
  padding: 25px;
  font-size: 16px;
  vertical-align: top;
}

@media only screen and (max-width: 1000px) {
  .product-right {
    font-size: 15px;
    padding: 10px 15px;
  }
}

@media only screen and (max-width: 768px) {
  .products-long .col1of2 {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .products-long .product {
    background-position: 408px 9px;
  }

  .product-right {
    padding: 25px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .product-info, .product-left, .product-right {
    width: 100%;
    display: block;
    text-align: center;
    border-right: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product-left {
    padding-bottom: 0;
  }
  .products-long .product {
    background-position: 246px 9px;
  }
}

.product.small {
  padding:  14px 25px 18px;
  min-height: 170px;
  margin-bottom: 20px;
  background-position: 190px 9px;
  position: relative
}

@media only screen and (max-width: 1000px) {
  .product.small {
    padding: 10px 15px;
    min-height: 190px;
    background-position: 120px 9px;
  }
}

@media only screen and (max-width: 768px) {
  .products .col1of4 {
    width: 50%;
  }
  .product.small {
    padding:  14px 25px 18px;
    min-height: 190px;
    background-position: 174px 9px;
  }
}

@media only screen and (max-width: 480px) {
  .products .col1of4 {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
  .product.small {
    padding:  14px 25px 18px;
    min-height: 160px;
    background-position: 244px 9px;
    margin-bottom: 0;
  }
}

.product:hover .forked p {
  color: #fff;
}

.product:hover {
  border-color: #00b2d6;
  box-shadow: inset 0 0 0 6px #00b2d6;
  color: #494949;
}

.product:hover p {
  color: #494949;
}

.product .forked {
  width: 175px;
  position: absolute;
  left: -1px;
  bottom: -1px;
  background: #5e5657 url("../images/forked.png") left center no-repeat;
  padding: 7px 25px;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .product .forked {
    width: 105px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .product .forked {
    width: 160px;
  }
}

@media only screen and (max-width: 480px) {
  .product .forked {
    width: 230px;
  }
}

.prm > .product .forked, .plm > .product .forked {
  width: 194px;
}

.product .forked span {
  color: #ffd300;
}

.product .forked span:hover {
  color: #c3a205;
}

.product.coffee {
  background-image: url("../images/coffee.png");
}

.product.ruby {
  background-image: url("../images/ruby.png");
}

.product.js {
  background-image: url("../images/js.png");
}

.product.php {
  background-image: url("../images/php.png");
}

.product.python {
  background-image: url("../images/python.png");
}

.product.shell {
  background-image: url("../images/shell.png");
}

.product.cpp {
  background-image: url("../images/cpp.png");
}

.product.obj-c {
  background-image: url("../images/obj-c.png");
}

.product.css {
  background-image: url("../images/css.png");
}

.product .title {
  color: #00a4c5;
  font-family: 'Doppio One';
  font-size: 19px;
  margin-bottom: 8px;
  padding-right: 15px;
  line-height: 20px;
  word-break: normal;
}

@media only screen and (max-width: 1000px) {
  .product .title {
    font-size: 12px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .product .title {
    font-size: 18px;
    line-height: 20px;
  }
}

.right-bordered {
  border-right: 1px solid #c5c5c5;
}

.clear {
  clear: both;
}


.footer {
  padding: 73px 0 25px;
  font-size: 12px;
  color: #867f7f;
  line-height: 1.5em;
  background: #453f40;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .footer .col1of6, .footer .col5of6 {
    float: none;
    width: 100%;
  }
  .footer .col1of6 {
    margin-bottom: 30px;
  }
  .footer .col1of4 {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer .col1of4 .plxl {
    padding-left: 0;
  }
  .footer .col1of4:nth-child(2n+1) {
    clear: left;
  }
}

@media only screen and (max-width: 480px) {
  .footer .col1of5, .footer .col4of5 {
    width: 100%;
    float none;
  }
  .footer .col4of5 .pls {
    padding-left: 0;
  }
}

.footer a {
  color: #867f7f;
}

.footer a:hover {
  color: #fff;
}

.footer .light {
  color: white;
}

.footer h3 {
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #605858;
}

.footer h3.colored {
  border-bottom-color: #edc406
}

.footer .copyright {
  border-top: 1px solid #6f6969;
  font-size: 10px;
}

.footer .copyright .seo-text {
  color: #766c6c;
}

.footer .footer-logo {
  display: inline-block;
  overflow: hidden;
  width: 147px;
  height: 36px;
  margin-top: 12px;
  float: left;
  background: url("../images/footer-logo.png");
  text-indent: -9999px;
}

.footer .footer-logo:hover {
  text-decoration: none;
}

.footer li {
  margin-bottom: 3px;
}

.github-link, .twitter-link, .facebok-link, .vimeo-link, .flickr-link, .email-link, .skype-link {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.footer-social-link:hover {
  background-position: 0 -30px;
}


.github-link {
  background: url("../images/icons/github-link.png");
}


.twitter-link {
  background: url("../images/icons/twitter-link.png");
}

.facebok-link {
  background: url("../images/icons/facebook-link.png");
}

.vimeo-link {
  background: url("../images/icons/vimeo-link.png");
}

.flickr-link {
  background: url("../images/icons/flickr-link.png");
}

.email-link {
  background: url("../images/icons/email-link.png");
}

.skype-link {
  background: url("../images/icons/skype-link.png");
}

.plxl {
  padding-left: 38px;
}
